/* ---------------------------------
 *              Card
 * --------------------------------- */
.card
    overflow: visible
    border-radius: 20px

    & + .card, & + .column-right-shadow
        margin-top: 0.8rem

    .card-image
        overflow: hidden
        border-top-left-radius: $card-radius
        border-top-right-radius: $card-radius

    .media + .media
        border: none
        margin-top: 0
